@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* LOADING ANIMATION */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#loader {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 200px;
    height: 200px;
    background-color: white;
    -webkit-animation: fadein 2s ease-in alternate infinite;
    -moz-animation: fadein 2s ease-in alternate infinite;
    animation: fadein 2s ease-in alternate infinite;
}

#loader-text {
    font-size: 1em;
}

#loader-icon {
    vertical-align: middle;
    font-size: 5em;
}

/* END LOADING ANIMATION */

/* NAVBAR */

.nav-title {
    font-weight: 900;
}

    .nav-title a {
        color: #dedede;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .nav-title a.active {
            text-decoration: none;
            color: #ffffff;
        }

        .nav-title a:hover {
            color: #ffffff;
            text-decoration: none;
        }


@media screen and (min-width:901px) {
    .navbar-brand {
        font-size: 1.5em;
    }
}

@media screen and (max-width:900px) {
    .navbar-title-emoji {
        font-size: 1.75em;
    }
}

/* END NAVBAR */

.heading {
    font-weight: 900;
    padding-bottom: 10px;
}

.main-body {
    margin: 1% 2% 1% 2%;
}

.subheading {
    text-align: center;
}

.section-container {
    padding: 15px; 
    border-radius: 10px;
}

.section-top-padded {
    padding-top: 15px;
}

.result-table {
    padding-top: 10px;
    margin-top: 10px;
}

.mb-2 {
    margin-bottom: 1px !important;
}

.threshold-table {
    font-size: 0.75em;
}


.table td, .table th {
    vertical-align: middle;
}

.result-calculation {
    text-decoration: none;
}

    .result-calculation:hover {
        text-decoration: none;
    }

.help-text {
    text-align: justify;
}