@page "/"
@page "/{ModulesEncodedString}"

@using HonoursClassEstimator.Model

@inject StateContainer StateContainer

<p>Enter your actual or predicted module details for level 2 and 3 to get an estimate of your overall degree classification</p>
<div class="row">
    <div class="col-md-4">
        <AddModule OnAddModule=StateContainer.AddModule></AddModule>
    </div>
    <div class="col-md-8">
        @*<DegreeView OnRemoveModule=StateContainer.RemoveModule Degree=StateContainer.Degree></DegreeView>*@
    </div>
</div>

@code
{
    [Parameter]
    public string ModulesEncodedString { get; set; }

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
        if (!(ModulesEncodedString is null))
        {
            string decodedString = ModulesEncodedString.Base64Decode(System.Text.Encoding.UTF8);

            List<Module> modules = Degree.GetModules(decodedString);

            if (!(modules is null))
            {
                foreach (Module module in modules)
                {
                    StateContainer.Degree.AddModule(module);
                }
            }
        }
    }

}