@inherits LayoutComponentBase

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" aria-label="Random emoji symbol which changes when clicked">
        <span class="navbar-title-emoji" @onclick=RotateEmoji>@HeaderEmoji</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand nav-title" href="#">OU Degree Class Estimator</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="help">Help</a>
            </li>
        </ul>
    </div>
</nav>

<div class="main-body">
    <div class="row">
        <div class="col-md-12">
            @Body
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string ModulesEncodedString { get; set; }

    private string HeaderEmoji { get; set; }

    List<string> availableEmoji = new List<string>() {
        "🎓", "🐌", "📚", "🧠", "💾", "🐓", "☕", "👽", "💣", "🦍", "🦊", "🌵", "🦄", "🐊", "🐉", "🐳", "🍉", "🥝", "🥑", "🦑", "🍰", "🍺", "🔥"
    };

    protected override void OnInitialized()
    {
        HeaderEmoji = availableEmoji[0];
    }

    void RotateEmoji()
    {
        Random randomGen = new Random();
        HeaderEmoji = availableEmoji[randomGen.Next(availableEmoji.Count - 1)];
    }
}