@page "/"
@page "/{ModulesEncodedString}"

@using HonoursClassEstimator.Model

@inject AppState appState

<div class="row">
    <div class="col-md-12">
        <p class="subheading">
            Enter your actual or predicted module details for level 2 and 3 to get an estimate of your overall degree classification.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xl-4">
        <HonoursClassEstimator.BlazorWASMApp.Components.AddModule OnAddModule=appState.AddModule></HonoursClassEstimator.BlazorWASMApp.Components.AddModule>
    </div>
    <div class="col-xl-8">
        <HonoursClassEstimator.BlazorWASMApp.Components.DegreeView OnRemoveModule=appState.RemoveModule Degree=appState.Degree>
        </HonoursClassEstimator.BlazorWASMApp.Components.DegreeView>
    </div>
</div>

@code
{
    [Parameter]
    public string ModulesEncodedString { get; set; }

    protected override void OnInitialized()
    {
        appState.OnChange += StateHasChanged;
        if (!(ModulesEncodedString is null))
        {
            string decodedString = ModulesEncodedString.Base64Decode(System.Text.Encoding.UTF8);

            List<Module> modules = Degree.GetModules(decodedString);

            if (!(modules is null))
            {
                foreach (Module module in modules)
                {
                    appState.Degree.AddModule(module);
                }
            }
        }
    }

}