@page "/about"

<PageTitle>About</PageTitle>

<div class="row help-text">
    <div class="col-md-1"></div>

    <div class="col-md-10">

        <h5><strong>How does this work? Are you storing my data somewhere?</strong></h5>
        <p>The calculation is done entirely in your web browser, with no data on your modules stored anywhere and no tracking nastiness at all. </p>
        <p>For nerds - This was partly an excuse to play with ASP.NET Blazor WebAssembly, with it’s tasty C# on the client side. Find the code on the 
            <a href="https://github.com/LucyParry/degree-class-estimator/tree/master/src">GitHub repo</a>, suggestions welcome!. </p>

        <h5><strong>Who's to blame for this?</strong></h5>
        <p>That's me, Lucy Parry. I'm a software developer and OU Computing and IT graduate. <a href="@Email">Email me</a> or <a href="@Insta">look at my cats on Instagram</a></p>
        
    </div>

    <div class="col-md-1"></div>
</div>

@code {

    public string? Email { get; set; }
    public string? Insta { get; set; }

    protected override void OnInitialized()
    {
        Email = "mailto:lucy.parry@gmail.com";
        Insta = "https://www.instagram.com/lucylucyparry/";
    }

}
