@page "/about"

<PageTitle>About</PageTitle>

<div class="row help-text">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <h5><strong>Who's responsible for this!?</strong></h5>
        <p>
            That's me, Lucy Parry. I'm a software developer and OU Computing and IT graduate. <a href="@Email">Email me</a> or <a href="@Insta">look at my cats on Instagram</a>
        </p>
        
    </div>

    <div class="col-md-2"></div>
</div>

@code {

    public string? Email { get; set; }
    public string? Insta { get; set; }

    protected override void OnInitialized()
    {
        Email = "mailto:lucy.parry@gmail.com";
        Insta = "https://www.instagram.com/lucylucyparry/";
    }

}
