@page "/help"

<PageTitle>Help</PageTitle>

<div class="row help-text">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <p>An <a href="https://www.open.ac.uk/"> Open University</a> degree is a marathon, and most students wonder what classification they're likely to get along the road. The OU provides an official guidance document <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em> to help, but many students find it hard to follow. To help, various unofficial calculators have sprung up over the years, including the always popular but now sadly defunct <a href="http://cleveret.net/?page_id=29">Cleveret</a> calculator <a href="#footnote-1">[1]</a>. This is an attempt to make something similarly useful!</p>
        <h4><strong>Disclaimer and limitations of the tool</strong></h4>
        <p>Please be aware that the tool is <strong>completely unofficial</strong>, and provides an estimate only for informational purposes. It has various necessary limitations; it cannot for example take into account your individual circumstances or the regulations of your degree subject, and it will not check for any compulsary modules or excluded combinations. Every effort has been made to ensure its accuracy, but responsibility can&rsquo;t be taken for wrong results, especially for less standard circumstances such as transferred credit. <strong>Always consult the official document from the Open University, or contact Student Support to discuss your individual qualification and likely result</strong>.</p>
        <h4><strong>How do UK undergraduate honours degrees work?</strong></h4>
        <p>The OU uses the same classification system as most other UK universities; degrees awarded 'with honours' are given one of four classifications. From highest to lowest, these are: first, upper second (2:1), lower second (2:2) and third <a href="#footnote-2">[2]</a>.</p>
        <h4><strong>How is the degree class calculated for OU honours degrees?</strong></h4>
        <p>Every OU module is worth a fixed amount of credit. An OU honours degree usually consists of 360 module credits in total -</p>
        <ul>
            <li>At least 240 credits must be at level 2 or above. Usually the module grades from the modules making up these 240 credits determine the degree classification, although it can be less if transferred credit is used.</li>
            <li>At least 120 credits must be at level 3.</li>
            <li>Credits at Level 1 count towards the total 360, but the module grades do not count towards the degree class calculation.</li>
        </ul>
        <p>The classification is then calculated in several steps -</p>
        <ol>
            <li>
                The best 120 module credits at level 3 are taken first, and are given a score based on the credit amount multiplied by the grade (where a Distinction is 1 and a Pass 4 is 4) to give a <strong>graded credit</strong>. Level 3 grades are given double weighting, so the result is then multiplied by 2.
                <ul>
                    <li><strong>Example</strong> - If you scored (or predict you'll score) a Pass 3 on <a href="https://www.open.ac.uk/courses/modules/tm354">TM354 - Software Engineering</a>, the 30 credits would be multiplied by 3 (for a Pass 3), and then by 2 for the Level 3 weighting, to give a module total of 180.</li>
                </ul>
            </li>
            <li>Any remaining elligible credit, which in most cases this will be the 120 credits at level 2, is then given a score using the same process of the credits multiplied by the grade, but without the double weighting.</li>
            <li>
                The scores for each module calculated in this way are then summed up, and the total determines the <strong>initial</strong> degree classification. Generally, the grade thresholds are as follows (although note that this may be different for degrees with transferred credit) -
                <table class="table table-sm table-hover table-bordered table-responsive-sm5">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">First</td>
                            <td style="width: 50%;">630 or less</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Upper Second (2:1)</td>
                            <td style="width: 50%;">631 to 900</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Lower Second (2:2)</td>
                            <td style="width: 50%;">901 to 1170</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Third</td>
                            <td style="width: 50%;">1171 to 1440</td>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li>
                A 'quality assurance' test is then performed to check that the best 60 credits at level 3 meets or exceeds the initial classification, usually using the following thresholds (again note that degrees with transferred credit may be different) -
                <table class="table table-sm table-hover table-bordered table-responsive-sm5">
                    <tbody>
                        <tr>
                            <td style="width: 50%;">First</td>
                            <td style="width: 50%;">At least 60 credits with Distinction grade</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Upper Second (2:1)</td>
                            <td style="width: 50%;">Graded credit between 61 and 120 </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Lower Second (2:2)</td>
                            <td style="width: 50%;">Graded credit between 121 and 180</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Third</td>
                            <td style="width: 50%;">Graded credit between 181 and 240</td>
                        </tr>
                    </tbody>
                </table>
            </li>

            <li>
                If the quality assurance test is satisfied, you will be awarded the classification given by the initial result.
            </li>
        </ol>

        <h5><strong>Worked examples</strong></h5>


        <h4>Transferred credit</h4>




        <p>This is all much easier to understand with a good example. The OU document <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em> contains some useful ones, as does <a href="http://cleveret.net/?page_id=29">Cleveret</a>. The below is taken from this site, which you can interact with at <a href="WFgyMDFfUDMwTDJHMUMwJlhYMjAzX1AzMEwyRzNDMCZYWDIxMF9QMzBMMkcyQzAmWFgyNTBfUDMwTDJHMkMwJlhYMzExX1AzMEwzRzJDMCZYWDM1NV9QMzBMM0czQzAmWFgzNTVfUDMwTDNHMUMwJlhYMzU1X1AzMEwzRzJDMA==">this link</a>.</p>
        <p><img src="images/degree_example.PNG" /></p>
        <p><strong>Notes about transferred credit and compulsary modules</strong></p>
        <p>Where transferred credit is used, less than 240 credits of grades are counted and the thresholds for each degree class are adjusted on a pro rata basis. The tool will attempt to take this into account if you add a module with the amount of transferred credit you have been given and the grade set to 'transferred'. The tool will also allow you to mark a module as 'compulsary' so it will always be counted in the calculation. Note that both cases are notoriously tricky, so always contact the OU to discuss if in any doubt, and never trust the estimates of tools like this alone!</p>


        <p id="footnote-1">[1] Thank you to them for inspiring this version!</p>
        <p id="footnote-2">[2] Degrees can also be awarded without honours, these are usually referred to as 'ordinary degrees' and do not receive a classification.</p>




        <p>
            This is all much easier to understand with a good example. The OU document
            <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em>
            contains some useful ones, as does <a href="http://cleveret.net/?page_id=29">Cleveret</a>. The below is taken from this site, which you can interact with at
            <a href="WFgyMDFfUDMwTDJHMUMwJlhYMjAzX1AzMEwyRzNDMCZYWDIxMF9QMzBMMkcyQzAmWFgyNTBfUDMwTDJHMkMwJlhYMzExX1AzMEwzRzJDMCZYWDM1NV9QMzBMM0czQzAmWFgzNTVfUDMwTDNHMUMwJlhYMzU1X1AzMEwzRzJDMA==">this link</a>.
        </p>
        <p>
            <img src="images/degree_example.PNG" asp-append-version="true">
        </p>

        <p><strong>Notes about transferred credit and compulsary modules</strong></p>
        <p>
            Where transferred credit is used, less than 240 credits of grades are counted and the thresholds for each degree class are adjusted on a pro rata basis. The tool will attempt to
            take this into account if you add a module with the amount of transferred credit you have been given and the grade set to 'transferred'. The tool will also allow you to mark a
            module as 'compulsary' so it will always be counted in the calculation. Note that both cases are notoriously tricky, so always contact the OU to discuss if in any doubt, and never trust the estimates of tools like this alone!
        </p>


    </div>

    <div class="col-md-2"></div>
</div>