@page "/help"

<PageTitle>Help</PageTitle>

<div class="row help-text">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <div class="mb-5">
            <h4><strong>Introduction</strong></h4>
            <p>
                Most students wonder what classification they're likely to get at the end of the marathon of a <a href="https://www.open.ac.uk/"> Open University</a> degree. The OU provides an official guidance document
                <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em>,
                but many students find it hard to follow. To help, various unofficial calculators have sprung up over the years, including the always popular but now sadly defunct
                <a href="http://cleveret.net/?page_id=29">Cleveret</a> calculator [1]. This is an attempt to make something similarly useful!
            </p>

            <h6><strong>Disclaimer and limitations of the tool</strong></h6>
            <p>
                Please be aware that the tool is <strong>completely unofficial</strong>, and provides an estimate only for informational purposes. It has various necessary limitations; it will not for 
                example check that the modules entered can be counted towards your named degree, that compulsory modules have been added, or any other individual circumstances.
                Every effort has been made to ensure its accuracy, but responsibility can't be taken for wrong results, especially for less standard circumstances such as transferred credit. 
                <strong> Always consult the official document from the Open University, or contact Student Support to discuss your individual qualification and likely result.</strong>.
            </p>
        </div>

        <div class="mb-5">
            <h4><strong>How do UK undergraduate honours degrees work?</strong></h4>
            <p>
                The OU uses the same classification system as most other UK universities; degrees awarded 'with honours' are given one of four classifications. From highest to lowest,
                these are: first, upper second (2:1), lower second (2:2) and third [2].
            </p>
        </div>

        <div class="mb-5">
            <h4><strong>How is the degree class calculated for OU honours degrees?</strong></h4>
            <p>Every OU module is worth a fixed amount of credit. An OU honours degree usually consists of 360 module credits in total:</p>
            <ul>
                <li class="mb-2">At least 240 credits must be at Level 2 or above. Usually the grades from the modules making up these credits determine the degree class, although it can be less if transferred credit is used.</li>
                <li class="mb-2">At least 120 credits must be at Level 3.</li>
                <li class="mb-2">Credits at Level 1 count towards the total 360, but Level 1 grades do not count towards the degree class calculation.</li>
            </ul>
            <p>The classification is then calculated in several steps -</p>
            <ul>
                <li class="mb-2">
                    The highest graded 120 module credits at level 3 are taken first. Each of these modules is given a graded score based on the credit account multiplied by the grade, with Distinction worth 1 through to Pass 4 worth 4.
                    If you scored a Pass 3 on <em><a href="https://www.open.ac.uk/courses/modules/tm354">TM354 - Software Engineering</a></em> for example, the graded score would be 90 (30 credits x 3 for a Pass 3). These
                    graded scores are then multiplied by 2 to give them double weighting, so the TM354 example would have a final weighted and graded score of 180.
                </li>
                <li class="mb-2">
                    Any remaining elligible modules, which in most cases will be 120 credits at level 2, are then also given a graded score using the same method of credits x grade, but these are <em>not</em> given the double weighting.
                    A Pass 2 on <em><a href="https://www.open.ac.uk/courses/modules/a222">Exploring philosophy</a></em> for example would be 120 (60 credits x 2 for a Pass 2).
                </li>
                <li class="mb-2">
                    The scores for each module calculated in this way are then summed up, and the total determines the <strong>initial</strong> degree classification. Generally, the grade thresholds are as follows (although note that this may be different for degrees with transferred credit) -
                    <br/><br/>
                    <table class="table table-sm table-hover table-bordered table-responsive-sm5 m-2">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">First</td>
                                <td style="width: 50%;">630 or less</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Upper Second (2:1)</td>
                                <td style="width: 50%;">631 to 900</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Lower Second (2:2)</td>
                                <td style="width: 50%;">901 to 1170</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Third</td>
                                <td style="width: 50%;">1171 to 1440</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </li>

                <li class="mb-2">
                    A 'quality assurance' test is then performed to check that the best 60 credits at level 3 meets or exceeds the initial classification, usually using the following thresholds (again note that degrees with transferred credit may be different) -
                    <br/><br/>
                    <table class="table table-sm table-hover table-bordered table-responsive-sm5 m-2">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">First</td>
                                <td style="width: 50%;">At least 60 credits with Distinction grade</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Upper Second (2:1)</td>
                                <td style="width: 50%;">Graded credit between 61 and 120 </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Lower Second (2:2)</td>
                                <td style="width: 50%;">Graded credit between 121 and 180</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Third</td>
                                <td style="width: 50%;">Graded credit between 181 and 240</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </li>

                <li class="mb-2">
                    If the quality assurance test is satisfied, you will be awarded the classification given by the initial result.
                </li>
            </ul>
            <div class="mb-2">
                <h6><strong>Transferred credit</strong></h6>
                <p>
                    If you have been awarded tranferred credit and so have less than 240 credits at Level 2 or above, the thresholds for each degree class are
                    adjusted pro-rata, down to a minimum of 120. The tool will attempt to take this into account if you add a module with the amount of transferred
                    credit you have been given and the grade set to 'transferred'. Note that degrees with transferred credit are notoriously tricky, so always contact the OU to discuss!
                </p>
            </div>

            <div class="mb-2">
                <h6><strong>Worked examples</strong></h6>
                The OU <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em> 
                document has two useful worked examples, reproduced here; <a href="TDMxMF9QNjBMM0czQzAmRTMwMF9QNjBMM0cyQzAmTDIxMV9QNjBMMkczQzAmTDIxMF9QNjBMMkczQzA=">Example 1</a> and
                <a href="TTM4MV9QMzBMM0czQzAmTVQzNjVfUDMwTDNHMkMwJk0zNDZfUDMwTDNHM0MwJk0zNDNfUDMwTDNHMUMwJk1TVDIwOV9QNjBMMkcyQzAmTVMyMjFfUDMwTDJHMUMwJk0yNDlfUDMwTDJHMkMw">Example 2</a>.
            </div>
        </div>

        <div class="mb-5">
            <h4><strong>How does this work?</strong></h4>
            <p>
                The calculation is done entirely in your web browser, with no data on your modules stored anywhere and no tracking nastiness at all. <em>For nerds</em> -
                this was partly an excuse to play with ASP.NET Blazor WebAssembly, with it’s tasty C# on the client side. Find the code on the
                <a href="https://github.com/LucyParry/degree-class-estimator/tree/master/src">GitHub repo</a>, suggestions welcome!
            </p>
        </div>

        <div class="mb-5">
            <h4><strong>I still have questions!</strong></h4>
            <p><a href="@Email">Email me</a> and I'll do my best to help!</p>
        </div>
        <hr />
        <div>
            <div class="small-text">
                <p>
                    [1] Thank you to them for inspiring this version! <br />
                    [2] Degrees can also be awarded without honours, these are usually referred to as 'ordinary degrees' and do not receive a classification. <br />
                </p>
            </div>
        </div>
        <hr />
        <div class="col-md-2"></div>
    </div>

</div>

@code {

    public string? Email { get; set; }
    public string? Insta { get; set; }

    protected override void OnInitialized()
    {
        Email = "mailto:lucy.parry@gmail.com";
        Insta = "https://www.instagram.com/lucylucyparry/";
    }

}