@page "/help"

<PageTitle>Help</PageTitle>

<div class="row help-text">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <div class="mb-5">
            <h4><strong>Introduction</strong></h4>
            <p>
                Most students wonder what class they're likely to get for their <a href="https://www.open.ac.uk/"> Open University</a> degree, but many find the OU official guidance document, 
                <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em> a little hard to follow.                
            </p>
            <p>
                This calculator is an attempt to help predict your degree class based on the modules you've completed and grades you're likley to get in future modules, made by an OU graduate who has been there! Thank you also to the popular but now sadly defunct
                <a href="http://cleveret.net/?page_id=29">Cleveret</a> calculator for inspiring this version. 
            </p>
            <p>
                <strong>Please be aware that this tool is completely unofficial, and provides an estimate only for informational purposes</strong>. 
                <br/>It has various limitations; it will not for example check that the modules entered can be counted towards your named degree or that any required modules have been added, or any other individual circumstances.
                Every effort has been made to ensure its accuracy, but responsibility can't be taken for wrong results, especially for less standard circumstances such as transferred credit. 
                <strong>Always <i>always</i> consult the official document from the Open University, or contact Student Support to discuss your individual qualification and likely result if in any doubt.</strong>.
            </p>
            <p>
                Please <a href="@Email">email me</a> with any questions or suggestions and I'll do my best to help. If you roll that way, you can find the code on the
                <a href="https://github.com/LucyParry/degree-class-estimator/tree/master/src">GitHub repo</a> or just look at my cats on <a href="@Insta">Instagram</a>.
            </p>
        </div>

        <div class="mb-5">
            <h4><strong>How do UK undergraduate honours degrees work?</strong></h4>
            <p>
                The OU uses the same classification system as most other
                
                Most UK universities, including the <a href="https://www.open.ac.uk/"> Open University</a>, award degrees 'with honours' with one of four classifications. From highest to lowest,
                these are: first, upper second (2:1), lower second (2:2) and third. Degrees can also be awarded without honours, these are usually referred to as 'ordinary degrees' and do not receive a classification.
            </p>
        </div>

        <div class="mb-5">
            <h4><strong>How is the degree class calculated for OU honours degrees?</strong></h4>
            <p>Every OU module is worth a fixed amount of credits, and an OU honours degree usually consists of 360 module credits in total.</p>
            <ul>
                <li class="mb-2"><strong>At least 240 of the credits must be at level 2 or above.</strong> Usually the grades from the modules making up these credits determine the degree class, although it can be less if transferred credit is used.</li>
                <li class="mb-2"><strong>At least 120 credits must be at level 3.</strong></li>
                <li class="mb-2">Credits at Level 1 count towards the total 360, but Level 1 grades <i>do not</i> count towards the degree class calculation.</li>
            </ul>
            <p>The classification is then calculated in several steps -</p>
            <ol>
                <li class="mb-2">
                    The highest graded 120 module credits at level 3 are taken first. Each of these modules is given a graded score based on the credits multiplied by a number given corresponding to the grade. A Distinction = 1, Grade 2 = 2, etc.
                    A grade of Pass 3 on <em><a href="https://www.open.ac.uk/courses/modules/tm354">TM354 - Software engineering</a></em> for example, would have a graded score of 90 (30 credits x 3 for Pass 3). 
                </li>

                <li class="mb-2">
                    These graded scores are then multiplied by 2 to give them double weighting in the final calculation. In TM354 example above, we would have a final weighted and graded score of 180 (90 x 2).
                </li>

                <li class="mb-2">
                    Any remaining elligible modules, which are usually the 120 credits at level 2, are then also given a graded score using the same method in step 1 of credits multiplied by grade, but these are <em>not</em> then given the double weighting.
                    A Pass 2 on <em><a href="https://www.open.ac.uk/courses/modules/a222">Exploring philosophy</a></em> for example would be given 120 (60 credits x 2 for Pass 2).
                </li>
                <li class="mb-2">
                    The scores for each module calculated in this way are then summed up, and the total determines the <strong>initial</strong> degree classification. Usually, the grade thresholds are as below (although this can be different for degrees with transferred credit) -
                    <br/><br/>
                    <table class="table table-sm table-hover table-bordered table-responsive-sm5 m-2">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">First</td>
                                <td style="width: 50%;">630 or less</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Upper Second (2:1)</td>
                                <td style="width: 50%;">631 to 900</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Lower Second (2:2)</td>
                                <td style="width: 50%;">901 to 1170</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Third</td>
                                <td style="width: 50%;">1171 to 1440</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </li>

                <li class="mb-2">
                    After the initial classification is calculated, a 'quality assurance' check is done to make sure that the highest scoring 60 credits at level 3 meets or exceeds the initial classification. 
                    This usually uses the following thresholds (again note that degrees with transferred credit differ) -
                    <br/><br/>
                    <table class="table table-sm table-hover table-bordered table-responsive-sm5 m-2">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">First</td>
                                <td style="width: 50%;">At least 60 credits with Distinction grade</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Upper Second (2:1)</td>
                                <td style="width: 50%;">Graded credit between 61 and 120 </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Lower Second (2:2)</td>
                                <td style="width: 50%;">Graded credit between 121 and 180</td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">Third</td>
                                <td style="width: 50%;">Graded credit between 181 and 240</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                </li>

                <li class="mb-2">
                    If the quality assurance classification is the same or better than the initial classification calculated in step 4, you should be awarded the initial classification for your degree. If the quality
                    assurance classification is lower than the initial classification though, you'll be awarded the lower quality assurance classification.
                </li>
            </ol>

            <div class="mb-2">
                <h6><strong>Worked examples</strong></h6>
                The OU <em><a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/50/honours-class-working-out.pdf">Working Out Your Class of Honours</a></em> 
                document has two useful worked examples, which you can play with in the calculator here - 
                <ul>
                    <li><a href="TDMxMF9QNjBMM0czQzAmRTMwMF9QNjBMM0cyQzAmTDIxMV9QNjBMMkczQzAmTDIxMF9QNjBMMkczQzA=">Example 1</a></li>
                    <li><a href="TTM4MV9QMzBMM0czQzAmTVQzNjVfUDMwTDNHMkMwJk0zNDZfUDMwTDNHM0MwJk0zNDNfUDMwTDNHMUMwJk1TVDIwOV9QNjBMMkcyQzAmTVMyMjFfUDMwTDJHMUMwJk0yNDlfUDMwTDJHMkMw">Example 2</a></li>
                </ul>
            </div>

            <div class="mb-2">
                <h6><strong>A note on transferred credit</strong></h6>
                <p>
                    If you have been awarded transferred credit and so have less than 240 credits at Level 2 or above, the thresholds for each degree class are
                    adjusted pro-rata, down to a minimum of 120. The tool will attempt to take this into account if you add a module with the amount of transferred
                    credit you have been given and set the grade to 'transferred'. Note that degrees with transferred credit are notoriously tricky, so always contact the OU to discuss!
                </p>
            </div>

        </div>
    </div>
</div>

@code {

    public string? Email { get; set; }
    public string? Insta { get; set; }

    protected override void OnInitialized()
    {
        Email = "mailto:lucy.parry@gmail.com";
        Insta = "https://www.instagram.com/parrybird/";
    }
}