@page "/"
@page "/{ModulesEncodedString}"

@using DegreeClassEstimator.Model
@using DegreeClassEstimator.Web

@inject StateContainer StateContainer
@inject NavigationManager NavManager

<div class="alert alert-warning"><span class="strong">Please note: this calculator uses the old 'quality assurance' test which was scrapped by the OU in May 2023, and as a result may give inaccurate results!</span><br/>I will update it
    ASAP but in the meantime please refer to the <a href="https://help.open.ac.uk/documents/policies/working-out-your-class-of-honours/files/252/Understanding%20your%20Class%20of%20Honours%20Bachelors%20May%2023.pdf">updated guidance</a> from the university.</div>

<p>Enter your actual or predicted module details for level 2 and 3 to get an estimate of your overall degree classification</p>
<div class="row">
    <div class="col-lg-4">
        <AddModule OnAddModule=StateContainer.AddModule></AddModule>
    </div>
    <div class="col-lg-8">
        <DegreeView OnRemoveModule=StateContainer.RemoveModule Degree=StateContainer.Degree></DegreeView>
    </div>
</div>

@code
{
    [Parameter]
    public string? ModulesEncodedString { get; set; }

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
        if (ModulesEncodedString is not null)
        {
            try
            {
                string decodedString = ModulesEncodedString.Base64Decode(System.Text.Encoding.UTF8);
                List<Module> modules = Degree.GetModules(decodedString);

                if (modules is not null)
                {
                    foreach (Module module in modules)
                    {
                        StateContainer.Degree.AddModule(module);
                    }
                }
            }
            catch (FormatException ex)
            {
                NavManager.NavigateTo($"/{nameof(NotFound)}");
            }
        }
    }

}