@page "/"
@page "/{ModulesEncodedString}"

@using DegreeClassEstimator.Model
@using DegreeClassEstimator.Web

@inject StateContainer StateContainer
@inject NavigationManager NavManager

<p>Enter your actual or predicted module details for level 2 and 3 to get an estimate of your overall degree classification</p>
<div class="row">
    <div class="col-lg-4">
        <AddModule OnAddModule=StateContainer.AddModule></AddModule>
    </div>
    <div class="col-lg-8">
        <DegreeView OnRemoveModule=StateContainer.RemoveModule Degree=StateContainer.Degree></DegreeView>
    </div>
</div>

@code
{
    [Parameter]
    public string? ModulesEncodedString { get; set; }

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
        if (ModulesEncodedString is not null)
        {
            try
            {
                string decodedString = ModulesEncodedString.Base64Decode(System.Text.Encoding.UTF8);
                List<Module> modules = Degree.GetModules(decodedString);

                if (modules is not null)
                {
                    foreach (Module module in modules)
                    {
                        StateContainer.Degree.AddModule(module);
                    }
                }
            }
            catch (FormatException ex)
            {
                NavManager.NavigateTo($"/{nameof(NotFound)}");
            }
        }
    }

}