@page "/notfound"

<PageTitle>Not found</PageTitle>

<div class="text-center">
    <h5 role="alert"><i class="bi bi-emoji-frown"></i> <br/>
        Sorry, that page could not be found
    </h5>
    <p role="alert"><a href="/">Return to main page</a></p>
</div>